@charset "utf-8";
/* CSS Document */
#header{
	height: 32px;
	line-height: 32px;
	background:url(../img/sf-ico.jpg) repeat-x left -260px;	
}
#header .w{
	height: 30px;
}
#header ul.left li{
	height: 30px;
	width: 98px;
	border-left: 1px #e9e9e9 solid;
	border-right: 1px #e9e9e9 solid;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}
#header ul.left li a:hover{
	text-decoration: none;
}
#header ul.left li:hover span{
	font-weight: 600;
	color: #EE0011;
}
#header ul.left li.last{
	position: relative;
	border-left: 0;
	z-index: 200;
	width: 100px;
}
#header ul.left li.last span{
	display: block;
	z-index: 200;
	width: 100px;	
	position: absolute;
	left: 0;
	top: 0;
}
#header ul.left li.last i{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(../img/sf-ico.png) no-repeat -185px -840px;
}
#header ul.left li.last em{
	display: inline-block;
	width: 8px;
	height: 13px;
	background: url(../img/sf-ico.png) no-repeat -152px -80px;
	margin-right:4px;
}
#header ul.left li.last div.app{
	display: none;
	z-index:10;
	width: 240px;
	height: 120px;
	padding: 20px;
	position: absolute;
	top: 30px;
	left: -1px;
	background: #fff;
	border: 1px #E9E9E9 solid;
	font-size: 18px;
}
#header ul.center{
	overflow: hidden;
	height: 14px;
	line-height: 14px;
	border-right: 1px #666 solid;
	margin-top:9px ;
	padding-right: ;
}
#header ul.center li{
	margin: 0 19px;
	cursor: pointer;
}
#header ul.center li a{
	color: #EE0011;
}
#header ul.center li a:hover{
	text-decoration: none;
}
#header ul.right{
	margin-left: 10px;
}
#header ul.right li{
	position: relative;
	height: 30px;
	text-align: center;
}
#header ul.right li.par i{
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(../img/sf-ico.png) no-repeat -185px -840px;
}
#header ul.right li.first{
	width: 89px;
}
#header ul.right li.notice{
	width: 65px;
}
#header ul.right li.more{
	width: 65px;
}
#header ul.right li.first a.first{
	position: absolute;
	left: 0;
	top: 0;
	width: 89px;
	height: 30px;
	z-index: 20;
}
#header ul.right li.first p{
	z-index: 10;
	width: 89px;
	height: 30px;
	position: absolute;
	border: 1px #E9E9E9 solid;
	top: 29px;
	display: none;
	left: 0px;
	background: #fff;
}
#header ul.right li.notice a.first{
	position: absolute;
	left: 0;
	top: 0;
	width: 65px;
	height: 30px;
	z-index: 20;
}
#header ul.right li.notice ul{
	z-index: 10;
	position: absolute;
	top: 29px;
	width: 260px;
	left: -195px;
	border: 1px #E6E6E6 solid;
	background: #fff;
	display: none;
}
#header ul.right li.notice ul li{
	padding-left: 10px;
}
#header ul.right li.more a.first{
	position: absolute;
	left: 0;
	top: 0;
	width: 65px;
	height: 30px;	
	z-index: 20;
}
#header ul.right li.more p{
	z-index: 10;
	position: absolute;
	top: 29px;
	left: -41px;
	padding-left: 5px;
	border: 1px #E6E6E6 solid;
	width: 100px;
	display: none;
	background: #fff;
}
