@charset "utf-8";
/* CSS Document */
#top{
	height: 45px;
	cursor: pointer;
	background: url(../img/69af8e9c420b4df6a5add15bd7c3e370.jpg) center no-repeat;
}
body{
	background: #f8f8f8;
}
/*=================nav===================*/
#nav{
	height: 168px;
	border-bottom: 3px #000 solid;
}
#nav div.nav_top{
	height: 128px;
}
#nav div.nav_top h1{
	width: 306px;
}
#nav div.nav_top h1 img{
	margin-top: 25px;
}
#nav div.nav_top div.center{
	width: 530px;
}
#nav div.nav_top div.center .search{
	margin-top: 46px;
	height: 29px;
	width: 523px;
	border: 2px #000 solid;
	margin-bottom: 10px;
}
#nav div.nav_top div.center .search input{
	height: 29px;
	border: 0;
	width: 439px;
}
#nav div.nav_top div.center .search a{
	width: 83px;
	height: 29px;
	background-color: #000000;
	color: #fff;
	font-size: 18px;
	background: url(../img/sf-ico.png) no-repeat -115px -532px;
}
#nav div.nav_top div.center ul li a{
	padding:0 5px;
	color: #666;
	border-right: 1px #666 solid;
}
#nav div.nav_top div.center ul li a:hover{
	color:#EE0011;
}
#nav div.nav_top div.center ul li.hot a{
	color:#EE0011;
}
#nav div.nav_top div.center ul li.last a{
	border: 0;
}
#nav div.nav_top dl{
	width: 146px;
	height: 128px;
}
#nav div.nav_top dl dt{
	margin-top: 46px;
	width: 144px;
	height: 31px;
	border: 1px #d1d3d4 solid;
	background: #fff;
	line-height: 31px;
	margin-bottom: 10px;
	cursor: pointer;
}
#nav div.nav_top dl dt span{
	color: #EE0011;
}
#nav div.nav_top dl dt i.l{
	margin: 7px 15px 0 12px;
	width: 18px;
	height: 18px;
	background: url(../img/sf-ico.png) no-repeat -92px -533px;
}
#nav div.nav_top dl dt i.r{
	background: url(../img/sf-ico.png) no-repeat -88px -552px;
	width: 6px;
	height: 3px;
	margin-top: 14px;
	margin-right: 6px;
}
#nav div.nav_top dl dd{
	text-align: center;
	color: #EE0011;
	line-height: 24px;
}
#nav div.nav_down{
	height: 40px;
}
#nav div.nav_down ul.l li.tab{
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;	
	width:71px ;
	text-align: center;
}
#nav div.nav_down ul.l li.tab a{
	color: #000000;
}
#nav div.nav_down ul.l li.tab a:hover{
	text-decoration: none;
	color: #EE0011;
}
#nav div.nav_down ul.l li.first{
	width: 200px;
	height: 40px;
	background: #000;
}
#nav div.nav_down ul.l li.first span{
	color: #fff;
	padding-left:40px ;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;	
}
#nav div.nav_down ul.r li{
	height: 40px;
	padding: 0 20px;
}
#nav div.nav_down ul.r li a{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
#nav div.nav_down ul.r li a:hover{
	color: #EE0011;
	text-decoration: none;
}
#nav div.nav_down ul.r li.first{
	position: relative;
} 
#nav div.nav_down ul.r li.first img.new{
	position: absolute;
	top: -8px;
	right: 15px;
}
#nav div.nav_down ul.r li.first a{
	color: #EE0011;
}

/*========banner=========*/
#banner{
	height: 480px;
}
#banner div.menu{
	width: 198px;
	height: 479px;
	border: 1px #d1d3d4 solid;
	border-top: 0;
	position: relative;
	background: #F3F3F3;
}
#banner div.menu ul{
	height: 478px;
	width: 198px;
	border-bottom: 1px #d1d3d4 solid;
}
#banner div.menu ul li{
	height: 44px;
	padding: 12px 10px;
}
#banner div.menu ul li.cur{
	background: #666;
	color: #fff;
}
#banner div.menu ul li.cur a{
	color: #fff;
}
#banner div.menu ul li.cur i.iconn{
	background: url(../img/indexnav2img_01.jpg) no-repeat; 
}
#banner div.menu ul li i.iconn{
	width: 26px;
	height: 20px;
	background: url(../img/indexnav2img_01.jpg) no-repeat;
}
#banner div.menu ul li a{
	color: #666;
}
#banner div.menu ul li h3{
	margin-bottom: 5px;
}
#banner div.menu ul li p{
	padding-left: 26px;
}
#banner div.menu ul li h3 a{
	color: #000;
}
#banner div.menu div.menu_child{
	width: 128px;
	height: 478px;
	padding: 0 10px;
	border: 1px #d1d3d4 solid ;
	position: absolute;
	left: 198px;
	top: 0;
	display: none;
	background: #fff;
	z-index: 200;
}
#banner div.banner{
	width: 990px;
	height: 480px;
	overflow: hidden;
	position: relative;
}
#banner div.banner ul.pic{
	width: 990px;
	height: 480px;
}
#banner div.banner ul.pic li{
	position: absolute;
	width: 990px;
	height: 480px;
	top: 0;
	left: 0;
}
#banner div.banner ul.dot{
	position: absolute;
	right: 100px;
	bottom: 20px;
	z-index: 100;
}
#banner div.banner ul.dot li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	margin: 0 10px;
	background: #000;
	color: #fff;
	cursor: pointer;
}
#banner div.banner ul.dot li.cur{
	background: #EE0011;
}
/*===============brand=============*/
#brand{
	height: 788px;
}
#brand img.active{
	margin: 20px 0;
}
#brand p{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	border-bottom: 3px #000 solid;
}
#brand div.brand{
	height: 470px;
	width: 1164px;
	border: 1px #d1d3d4 solid;
	border-top: 0;
	background: #fff;
	position: relative;
	padding: 24px;
	padding-right: 0;
}
#brand div.brand ul.brand{
	width: 1164px;
	height: 320px;
}
#brand div.brand ul.brand li{
	width: 267px;
	height: 320px;
	margin-right: 22px;
	overflow: hidden;
	position: relative;
}
#brand div.brand ul.brand li img{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-133px ;
	margin-top: -160px;
}
#brand div.brand_logo{
	width: 1105px;
	height: 110px;
	margin-left: 15px;
	margin-top: 30px;
	overflow: hidden;
}
#brand div.brand_logo ul.brand_logo{
	width: 2210px;
	height: 110px;
}
#brand div.brand_logo ul.brand_logo li{
	width: 1105px;
	height: 110px;	
}
#brand div.brand div.left{
	width: 19px;
	height: 56px;
	background: url(../img/brand_arrow_png8.png) no-repeat 0 -127px;
	position: absolute;
	top:400px;
	left: 10px;
	cursor: pointer;
}
#brand div.brand div.right{
	width: 19px;
	height: 56px;
	background: url(../img/brand_arrow_png8.png) no-repeat -42px -127px;
	position: absolute;
	top:400px;
	left: 1160px;
	cursor: pointer;
}
/*==============content================*/
#content div.content{
	height: 513px;
}
#content div.content div.title{
	border-bottom: 3px #000 solid;
	height: 32px;
	margin-top: 30px;
}
#content div.content div.title a.l{
	font-size: 18px;
	color: #000;
	font-weight: bold;
	line-height: 32px;
}
#content div.content div.title a.r{
	font-size: 18px;
	height: 32px;
	width: 116px;
	text-align: center;
	line-height: 32px;
	color: #fff;
	background: #000;
}
#content div.content div.title a:hover{
	text-decoration: none;
	color: #EE0011;
}
#content div.content div.goodsImg{
	width:1152px;
	height:432px;
	border: 1px #d1d3d4 solid;
	padding: 22px 24px 22px 12px;
	background: #fff;
}
#content div.content div.goodsImg dl{
	width: 200px;
	height: 431px;
	padding-right: 12px;
}
#content div.content div.goodsImg dl dt{
	width: 200px;
	height: 67px;
	margin-bottom: 8px;
}
#content div.content div.goodsImg dl dd{
	width: 200px;
	height: 360px;
}
#content div.content div.goodsImg div.Img{
	width: 360px;
	height: 430px;
	border: 1px #d1d3d4 solid;
	overflow: hidden;
}
#content div.content div.goodsImg ul.brand{
	width: 558px;
	height: 434px;
}
#content div.content div.goodsImg ul.brand li{
	width: 558px;
	height: 215px;
	border-bottom: 2px solid #666;	
}
/*==============hot=======================*/
#hot{
	height: 397px;
}
#hot div.title{
	height: 32px;
	line-height: 32px;
	border-bottom: 3px #000 solid;
	font-size: 18px;
	color: #000;
	margin-top: 20px;
}
#hot div.hot_goods{
	height: 330px;
	width: 1164px;
	padding: 20px 0 8px 24px;
	border: 1px solid #d1d3d4;
	background: #fff;
}
#hot div.hot_goods ul.tab{
	width: 212px;
	height: 280px;
	line-height: 39px;
	border-right: 1px #D1D3D4 solid;
	margin: -21px 15px 0 -24px;
}
#hot div.hot_goods ul.tab li{
	width: 198px;
	height: 39px;
	padding-left: 14px;
	border-bottom: 1px #D1D3D4 solid;
}
#hot div.hot_goods ul.tab li a.l{
	color:#000;
	font-size: 14px;
}
#hot div.hot_goods ul.tab li a.r{
	color: #fff;
	font-size: 18px;
	padding-right: 10px;
}
#hot div.hot_goods ul.tab li.cur{
	background: #000;
}
#hot div.hot_goods ul.tab li.cur a.l{
	color: #fff;
}
#hot div.hot_goods ul.tab li a:hover{
	text-decoration: none;
}
#hot div.hot_goods ul.goods{
	width: 950px;
	height: 320px;
	position: relative;
}
#hot div.hot_goods ul.goods li{
	width: 950px;
	height: 320px;	
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
}
#hot div.hot_goods ul.goods li dl{
	width: 232px;
	height: 322px;
	margin-right: 5px;
}
#hot div.hot_goods ul.goods li dl dt{
	position: relative;
	width: 230px;
	height: 254px;
	border: 1px #D1D3D4 solid;
	overflow: hidden;
}
#hot div.hot_goods ul.goods li dl dt b{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 16px;
	width: 222px;
	background: url(../img/sf-mark.png) no-repeat 0 -48px;
	color: #fff;
	line-height: 16px;
	padding-left: 10px;
}
#hot div.hot_goods ul.goods li dl dd{
	width: 226px;
	height: 60px;
	padding:6px 0 6px 6px;
	color: #EE0011;
}
#hot div.hot_goods ul.goods li dl dd strong{
	font-size: 14px;
	color: #EE0011;
}
#hot div.hot_goods ul.goods li dl dd del{
	margin: 0 10px;
	color: #666;
}
/*===============guide==================*/
#guide{
	height: 509px;
	margin-bottom: 10px;
}
#guide div.title{
	height: 32px;
	border-bottom: 3px #000 solid;
	line-height: 32px;
	font-size: 18px;
	color: #000;
	margin-top: 20px;
}
#guide div.guide{
	width: 1188px;
	height: 454px;
	border: 1px #D1D3D4 solid;
	padding-top: 18px;
	position: relative;
	background: #fff;
}
#guide div.guide a.btn_left{
	position: absolute;
	width: 12px;
	height: 22px;
	top: 129px;
	left: 12px;
	background: url(../img/sf-ico.png) no-repeat  0 -70px;
}
#guide div.guide a.btn_right{
	position: absolute;
	width: 12px;
	height: 22px;
	top: 129px;
	right: 12px;
	background: url(../img/sf-ico.png) no-repeat  -12px -70px;	
}
#guide div.guide div.guide_logo{
	width: 1081px;
	height: 245px;
	margin: 0 auto;
	overflow: hidden;
}
#guide div.guide div.guide_logo ul.guide_logo{
	width: 2161px;
	height: 244px;
	border-top: 1px #D1D3D4 solid;
	border-left: 1px #D1D3D4 solid;
}
#guide div.guide div.guide_logo ul.guide_logo li{
	width: 1080px;
	height: 244px;
}
#guide div.guide div.guide_logo ul.guide_logo li a{
	float: left;
}
#guide div.guide ul.guide{
	width: 1188px;
	margin-top: 20px;
}
#guide div.guide ul.guide li{
	width: 518px;
	height: 29px;
	margin-bottom: 17px;
	margin-left: 37px;
	line-height: 30px;
	border-bottom: 1px #D1D3D4 dashed;
	float: left;
}
#guide div.guide ul.guide li a{
	margin-right: 20px;
}
#guide div.guide ul.guide li a.first{
	font-size: 14px;
	font-weight: bold;
	color: #3e3e3e;
}
#guide div.guide ul.guide li a.r{
	margin-right: 20px;
}
/*=========contact=============*/
#contact{
	margin-top: 10px;
	height: 171px;
	padding:10px 0;
	background: #F4F4F4;
	border-top: 1px #ECECEC solid;
}
#contact ul.after-sale{
	width: 1103px;
	height: 32px;
	padding: 7px 0 7px 85px;
	border: 1px #ddd solid;
	margin-bottom: 10px;
}
#contact ul.after-sale li{
	margin-left: 20px;
	margin-right: 80px;
}
#contact ul.after-sale li i{
	display: inline-block;
	width: 32px;
	height:32px;
	margin-right: 10px;
}
#contact ul.after-sale li i.item1{
	background: url(../img/sf-ico.png) no-repeat 0 -37px;
}
#contact ul.after-sale li i.item2{
	background: url(../img/sf-ico.png) no-repeat -32px -37px;
}
#contact ul.after-sale li i.item3{
	background: url(../img/sf-ico.png) no-repeat -66px -37px;
}
#contact ul.after-sale li i.item4{
	background: url(../img/sf-ico.png) no-repeat -102px -37px;
}
#contact ul.after-sale li a{
	font-size: 18px;
	line-height: 32px;
}
#contact ul.after-sale li a span{
	color: #EE0011;
}
#contact ul.after-sale li a:hover{
	text-decoration: none;
	color: #EE0011;
}
#contact div.contact{
	height: 108px;
	padding-top: 5px;
}
#contact div.contact dl{
	width: 147px;
	padding-left: 3px;
	padding-bottom: 5px;
	float: left;
}
#contact div.contact dl dt{
	height: 25px;
	font-weight: bold;
	line-height: 25px;

}
#contact div.contact dl dd a{
	width: 147px;
	height: 20px;
	line-height: 20px;
}
#contact div.contact dl.help{
	width: 165px;
}
#contact div.contact dl.help p{
	line-height: 24px;
}
#contact div.contact dl.help a{
	display: block;
	padding-left: 30px;
	width: 48px;
	height: 20px;
	background: url(../img/newbase.png) no-repeat -317px -30px;
}
#contact div.contact dl.help p span{
	color: #EE0011;
}
#contact div.contact dl.pic-code{
	width: 240px;
	margin-left: 20px;
}
#contact div.contact dl.pic-code dt{
	width: 115px;
	height: 103px;
}
#contact div.contact dl.pic-code dd{
	width: 115px;
}
/*================footer===================*/
#footer{
	height: 103px;
	background: #000;
	border-bottom: 3px solid #1f1c09;
}
#footer div.logo{
	width: 110px;
	height: 50px;
	padding-top: 30px;
}
#footer div.map p.map{
	color: #fff;
	height: 25px;
	line-height: 25px;
	text-align: right;
}
#footer div.map p.map a{
	line-height: 25px;
	color: #fff;
}
#footer div.map p.copyright{
	color: #FFF;
	line-height: 25px;
}
#footer div.map p.rz{
	text-align: right;
}
#footer div.map p.rz img{
	display: inline-block;
	width: 108px;
	height: 40px;
	margin-right: 5px;
}
/*================stairs==================*/
#stairs{
	display: none;
	width: 38px;
	height: 342px;
	background: url(../img/1203.png) no-repeat -33px -16px;
	position: fixed;
	top: 200px;
	right: 50px;
	z-index: 1000;
	border: 1px #D1D3D4 solid;
	background-color: #000;
	cursor: pointer;
}
#stairs a{
	display: block;
	width: 38px;
	height: 38px;
}
#stairs li.floor{
	background: #f5f5f5;
	height: 37px;
	width: 38px;
	line-height: 38px;
	text-align: center;
	font-weight: bold;
	color: #000;
	border-bottom: 1px #D1D3D4 solid;
}
#stairs li.down{
	width: 38px;
	height: 38px;
}
#stairs li.hover{
	background: #ca0010;
	color: #fff;
}
#stairs li.last{
	border: 0;
	height: 38px;
}
/*================mark=============*/
#mark{
	height: 159px;
	width: 100%;
	background: url(../img/bj-fixed.png);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10000;
}
#mark div.wrap{
	width: 946px;
	margin: 0 auto;
	position: relative;
}
#mark div.wrap div.left{
	width: 500px;
	height: 158px;
}
#mark div.wrap div.right{
	width: 146px;
	height: 88px;
	margin-top: 30px;
}
#mark div.wrap div.right a{
	display: block;
	width: 146px;
	height: 39px;
}
#mark div.wrap div.right a.android{
	background: url(../img/app-btn.png) no-repeat 0 0;
}
#mark div.wrap div.right a.ios{
	margin-top: 20px;
	background: url(../img/app-btn.png) no-repeat 0 -58px;	
}
#mark div.wrap div.center{
	width: 261px;
	height: 224px;
	padding-top: 28px;
	padding-left: 10px;
	background: url(../img/erweima-bj.png) no-repeat top left;
	position: absolute;
	top: -115px;
	right: 148px;
}
#mark div.wrap div.center a{
	position: absolute;
	top: 6px;
	right: 15px;
}































